name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Build
        run: CGO_ENABLED=0 go build -o https main.go
      - name: Operational test
        run: |
          set -eu
          # TODO: Not use example.com because it can be down.
          ./https get example.com
          echo hello | ./https post example.com
